// ==============================================
// Variables
// ==============================================

// Colors
$c1 		: #cc9933;
$c2         : #23262b;
$c3 		: #16191e;
$c4 		: #1A1D22;

$w			: #ffffff;
$b			: #000000;

// Responsive breakpoints
$xs: 480;
$sm: 768;
$md: 992;
$lg: 1200;
$xl: 1440;


// Header
$header_topbar_height: 50;
$header_main_height: 150;
$header_sticky_height: 75;


$blog_gutter: 20;
